{% extends 'partials/_master.twig' %}

{% block main %}

    {% if record|default %}

        {{ record.content }}

    {% endif %}

        <h2 class="mt-8 text-xl text-semi">Latest articles</h2>
        {% setcontent articles = "article" limit 6 order "-publishedAt" %}
        {% for article in articles %}
                <span class="text-xs text-gray-600">{{article.publishedAt|localedatetime("%y-%m-%d")}}</span> <a href="{{ article|link }}" class=underline">{{ article|title }}</a>
                <p>{{ article.teaser }}</p>
        {% endfor %}

{% endblock main %}
